/*Universal Properties of the website*/
html {
	font-family:Helvetica;
	font-size:22px;
	color:seashell;
	background-color:rgb(15,15,15);
	opacity:0.9;
	text-align:center;
}

body {
	/*This gets rid of our invisibile top margin*/
	margin:0px;
	padding:0px;
}

/*Navigational bar*/
.nav {
	border-bottom:1px solid seashell;
	height:69px;
	width:100%;
	position:fixed;
	z-index:999;
	background-color:rgb(15,15,15);;
	display:flex;
	flex-flow: row nowrap;
	align-items:center;
	justify-content:space-between;
	flex: 2 2 auto;
	overflow:hidden;
}

  .nav img {
  	display:inline;
  	height:50px;
  	padding-left:10px;
    cursor:pointer;
  }

  .nav ul {
  	display:inline;
  	padding-right:10px;
  }

    .nav li {
    	display:inline;
    	text-decoration:underline;
    	padding-left:15px;
      cursor:pointer;
    }

/*Main Banner*/
/*flex container for banner*/
.wrap-hero {
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
}

  /*items for banner*/
  .wrap-hero img {
    width:1200px;
    height:700px;
    align-self:center;
  }

  /*items for banner*/
  .wrap-hero .item-header {
    width:1200px;
    position:absolute;
    z-index:1;
    background-color:black;
    opacity:0.9;
  }

/*Main Content*/
/*flex container for header*/
.wrap-header {
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
}
  /*flex items*/
  .wrap-header h2, h4 {
  	height:auto;
  	flex: 1 2 1000;
  }

/*flex container for content*/
.wrap-content {
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  align-content:space-around;
  margin-bottom:25px;
}

	/*flex items*/
	.wrap-content .box img {
	  height:200px;
	  padding:10px;
	  flex:1 2 300px;
	}

	/*flex items*/
	.wrap-content .box h4 {
	  flex:2 1 auto;
	}

/*Main Location*/
/*parent class of location*/
.wrap-location {
  height:500px;
  display:flex;
  flex-flow:column wrap;
  align-items:center;
  justify-content:center;
}
  
  /*child of location class*/
  .wrap-location img {
    height:500px;
    width:1200px;
    flex:1 1 content;
  }

  /*nested parent class of location and header*/
  .wrap-location .wrap-header-box-location {
    display:flex;
    flex-flow:column wrap;
    position:absolute;
    z-index:0;
  }

  /*nested parent of location box & child of class header/location*/
  .wrap-location .wrap-location-box {
    display:flex;
    flex-flow:row nowrap;
  }

    /*child class of location box*/
    .wrap-location .wrap-location-box .location-box {
      background-color:black;
      width:300px;
      height:300px;
      opacity:0.9;
      margin:0 20px;
      flex:1 1 content;
    }

  /*child class of header/location*/
  .wrap-location .header-box {
    height:35px;
    margin:15px;
    flex:1 1 content;
  }

.copyright {
  display:flex;
  flex-flow:column wrap;
}

.copyright-text {
  text-align:left;
  margin-left:20px;
}